body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 35px;
}
.crimson-color{
    color: crimson;
    font-size: 60px;
}
.flexible{
    display: flex;
    margin-bottom: 200px;
    
}
.half-width{
 width: 50%;
 padding-left: 5%;


}
.half-width img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-color: orange ;
    padding: 10px 40px;
    border-radius: 15px;
    background-image: linear-gradient(crimson,black);
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
   background-image: url(images/dream-bg.png ); 
   background-repeat: no-repeat;
   background-position: right;
}
.box-internal-text-color{
    color: crimson;
}
.experience-item{
    box-shadow: 10px 10px 15px crimson;
    width: 40%;
    margin-left: 5%;
    margin-right: 5px;
    padding-left: 20px;
    border-radius: 10px;
    

}
.experiance-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;

    

}
